__pycache__
*/.idea/
*.pyc
*.log
*.graphml
.idea/
confFileGenerator/test/**/*.conf
confFileGenerator/test/**/log*

ansible.cfg
ansible-hosts
ssh-config
ssh-config-no-proxy
id.cert
**bird-conf
**bird-conf2
cpu_info
nw_info
/confFileGenerator/baseFiles/commonFilters.conf
/confFileGenerator/baseFiles/prefFile.conf
/plotsGenerator/Rscripts/singleCSV/.RData
/plotsGenerator/Rscripts/singleCSV/.Rhistory
/drive/
