__pycache__
*/.idea/
*.pyc
*.log
*.graphml
.idea/
confFileGenerator/test/**/*.conf
confFileGenerator/test/**/log*

ansible.cfg
ansible-hosts
ssh-config
ssh-config-no-proxy
id.cert
cpu_info
nw_info
/Rscripts/singleCSV/.RData
/Rscripts/singleCSV/.Rhistory
/drive/
/confFileGenerator/baseFiles/commonFilters.conf
/confFileGenerator/baseFiles/prefFile.conf
