# router_id: ip of this router
# log_file: file on which bird should write the log
# session_exporter: file configuring the exported network
log "{log_file}" all;
        debug protocols all;
        debug commands 2;
        router id {router_id};
        include "kernel.conf";
        include "direct.conf";
        include "device.conf";
        include "commonFilters.conf";
include {session_exporter}
# list of sessions (links) created using the bird-conf-session.template
