Host {name}
    HostName {hostname}
    Port 22
    User segata
    IdentityFile {identity}
    ForwardAgent yes
    {proxy}
    TCPKeepAlive            yes
    Compression             no
    CheckHostIP no
    StrictHostKeyChecking no
